<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springproj.mappers.boardMapper">
	<select id="getAllBoards" resultType="boardVo">
		select * from board order
		by no desc
	</select>

	<insert id="saveNewBoard">
		insert into
		board(writer,title,content)
		values(#{writer}, #{title}, #{content})
	</insert>

	<insert id="saveUpFile">
		insert into boardImg(boardNo, fileType, fileExt,
		fileName, thumbFileName,base64File)
		values(#{boardNo}, #{mimeType},
		#{ext}, #{fileNameWithExt}, #{thumbImgName}, #{base64Str})
	</insert>


	<select id="getRecentBoardNo" resultType="int">
		select max(no) from
		board
	</select>


	<insert id="addPointToMember">
		<!-- order selectKey의 쿼리문이 실행될 순서 before= 감싸준 쿼리문 이전에 실행 -->
		<selectKey keyProperty="howmuch" resultType="int"
			order="BEFORE">
			select howmuch from pointpolicy where why=#{why}
		</selectKey>

		insert into memberpoint(who,why,howmuch)
		values(#{who},#{why},#{howmuch})
	</insert>


	<select id="selectByBoardNo" resultType="boardVo">
		select * from board
		where no=#{no}
	</select>


	<update id="updateReadCount">
		update board set readcount = readcount+1 where
		no=#{no}
	</update>


	<select id="selectUploadFile"
		resultType="com.springproj.domain.BoardImg">
		select * from boardimg where boardNo=#{no}

	</select>


	<delete id="deleteBoardByNo">
		delete from board where no =#{no}
	</delete>


	<update id="updateBoard">

		update board set title=#{title}, content=#{content},
		postDate=now() where no =#{no}
	</update>


	<delete id="deleteBoardImg">
		delete from boardimg where boardNo= #{no}
	</delete>

</mapper>