<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproj.mappers.messageMapper">

	<insert id="sendMsg">
		insert into message(sender,receiver,messageText)
		values(#{sender}, #{receiver}, #{messageText})
	</insert>
	<select id="getAllMsg"
		resultType="com.springproj.domain.MessageVo">
		select * from message where receiver= #{userId} order by
		sendTime desc
	</select>

	<update id="updateMsgReadProc">
		update message set isRead ='Y' where msgId = #{msgId}
	</update>

	<select id="getMsgCount" resultType="int">
		select count(*) from message where receiver =#{userId} and isRead = 'N';
	</select>

</mapper>